.formGroup {
    margin-bottom: 20px;
}

.input {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.selectedAddress {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.selectedAddress span {
    flex: 1;
}

.deleteButton {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}
