@import '../Font.scss';

* {
    font-family: 'Pretendard-Regular'; /* 모든 요소에 폰트 적용 */
}


.itemsGrid {
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

// 반응형(Tablet)
@media (max-width: 1024px) {

    .verticalLayout {
        display: flex;
        flex-direction: column;
        gap: 0;

    }
}

// 반응형(Mobile)
@media (max-width: 767px) {
    .verticalLayout {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}