@import '../Font.scss';

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;

    &.short {
        width: 230px;
    }
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: vertical;
}

.submitButton, .cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton {
    background-color: #2388FF;
    color: white;
}

.cancelButton {
    background-color: #EA4B48;
    color: white;
    margin-left: 10px;
}

.formButtons {
    display: flex;
    justify-content: flex-end;
}

.resultMessage {
    margin-top: 15px;
    font-size: 1rem;
    color: #28a745;
}
