@import '../Font.scss';

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;

    &.short {
        width: 230px;
    }

    &.inline {
        width: 30%; // MBTI와 성별 입력란의 너비 조정
    }
}

.inlineFormGroup {
    display: flex;
    justify-content: space-between;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: vertical;
}

.submitButton, .cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton {
    background-color: #2388FF;
    color: white;
}

.cancelButton {
    background-color: #EA4B48;
    color: white;
    margin-left: 10px;
}

.formButtons {
    display: flex;
    justify-content: flex-end;
}

.resultMessage {
    margin-top: 15px;
    font-size: 1rem;
    color: #28a745;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

.genderContainer {
    display: flex;
    gap: 10px;
}

.genderButton {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
}

.genderButton.active {
    background-color: #28a745;
    color: white;
}

/* 파일 업로드 부분의 스타일 추가 */
.fileUploadGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.fileUploadLabel {
    margin-bottom: 10px;
}

.fileUploadInput {
    /* 기본 파일 선택 스타일을 유지합니다 */
}

.fileList {
    margin-top: 10px;
}

.fileItem {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid #9BCC66;
    border-radius: 4px; /* 타원형으로 만들기 위한 값 */
    width: fit-content; /* 내용에 맞게 너비 조절 */
}

.deleteButton {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}
