@import '../Font.scss';

* {
    font-family: 'Pretendard-Regular'; /* 모든 요소에 폰트 적용 */
}

.filterBar {
    display: flex;
    justify-content: space-between; /* 간격을 일정하게 유지 */
    margin-bottom: 20px;
    min-height: 50px; /* 필터바의 최소 높이 설정 */
    flex-wrap: wrap; /* 버튼들이 한 줄에 다 들어가지 않으면 다음 줄로 넘기기 */
    gap: 10px;
}

.filterButton {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px; /* 일정한 패딩 설정 */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex: 1; /* 버튼의 크기를 일정하게 유지 */
    max-width: calc(100% / 4 - 10px); /* 최대 너비를 설정하여 4개의 버튼이 균등하게 분할되도록 */
    min-width: 200px; /* 최소 너비 설정 */
    display: flex;
    align-items: center;
    justify-content: center; /* 글씨 중앙 정렬 */
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    

    &.active {
        background-color: #00B207;
        
    }

    &:hover {
        background-color: #00B207;
        
    }

    svg {
        margin-right: 5px; /* 아이콘과 텍스트 사이의 간격 설정 */
        font-size: 20px;
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;

    div {
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: #f0f0f0;
            color: #000; /* 드롭다운 메뉴의 글씨 색상 수정 */
        }
    }
}

.scrollable {
    max-height: 200px; /* 드래그바를 추가하기 위해 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤바 추가 */
}
