.login-modal-background{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400px;
  padding: 30px 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Pretendard-Regular', sans-serif;

  h2{
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 800;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .login-input {
      margin-bottom: 15px;

      .id-input,
      .pw-input {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        border: 1px solid #E6E6E6;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 400;
      }
      .login-error {
        color: #EA4B48;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        margin-top: 5px;
      }
    }

    .keepLoggedIn-forgotPW {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      font-size: 12px;
      font-weight: 400;

      .keepLoggedIn-checkbox{
        display: flex;
        justify-content: center;

        .login-checkbox {
          margin-right: 5px;
        }
        .keepLoggedIn{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .forgotPW {
        color: #666666;
        text-decoration: none;
        font-size: 12px;
      }
    }

    .login-Button {
      margin-bottom: 10px;
      padding: 10px;
      height: 45px;
      background: #9BCC66;
      color: #fff;
      border: none;
      border-radius: 43px;
      cursor: pointer;
    }
  }

  .socialLogin-text,
  .signup-text,
  .signup-link{
    font-size: 14px;
    font-weight: 400;
  }

  .socialLogin-button {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .kakao-Icon,
    .naver-Icon,
    .google-Icon{
      margin: 0 5px;
      width: 50px;
      height: 50px;
      background-size: contain;
      border-radius: 50%;
      cursor: pointer;
    }

    .kakao-Icon{background: #9BCC66;}
    .naver-Icon{background: #EA4B48}
    .google-Icon{background: #666666;}
  }

  .signup-link {
    color: #9BCC66;
    text-decoration: none;
  }
}