@import 'Font';
.main-contents{
    width: 100%;
    height: 100%;
    background: #fff;
}
.banner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .main-banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: url('../image/main-banner.svg') no-repeat;
        background-size: contain;
        border-radius: 10px;
        .banner-slider-left{
            margin-left: 20px;
            width: 40px;
            height: 40px;
            border: none;
            background: url('../image/left-button.svg') no-repeat;
            background-size: contain;
            cursor: pointer;
        }
        .banner-slider-right{
            margin-right: 20px;
            width: 40px;
            height: 40px;
            border: none;
            background: url('../image/right-button.svg') no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
    .popular-post{
        margin-left: 20px;
        width: 655px;
        height: 350px;
        border-radius: 10px;
        border-left: 2px solid #E5E5E5;
        border-bottom: 3px solid #E5E5E5;
        .likelist-post{
            display: flex;
            align-items: center;
            padding: 4px 15px;
            font-family: 'Pretendard-Regular', sans-serif;
            font-size: 14px;
            .likelist-category{
                margin-right: 10px;
                color:#00B207;
                font-weight: 800;
            }
            .likelist-title{
                margin-right: auto;
                font-weight: 400;
            }
            .likelist-like{
                display: flex;
                align-items: center;
                font-weight: 400;
                .likelist-like-icon{
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                    background: url('../image/heart-icon.svg') no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}
.main-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 74px;
    border-radius: 10px;
    box-shadow: 6px 3px 10px 3px rgb(0, 0, 0, 0.1);
    font-family: 'Pretendard-Regular', sans-serif;
    .info{
        display: flex;
        align-items: center;
        padding: 0px 40px;
        .info-icon1{
            margin-right: 10px;
            width: 40px;
            height: 40px;
            background: url('../image/icon-lock.svg') no-repeat;
            background-size: contain;
        }
        .info-icon2{
            margin-right: 10px;
            width: 40px;
            height: 40px;
            background: url('../image/icon-fire.svg') no-repeat;
            background-size: contain;
        }
        .info-icon3{
            margin-right: 10px;
            width: 40px;
            height: 40px;
            background: url('../image/icon-lamp.svg') no-repeat;
            background-size: contain;
        }
        .info-icon4{
            margin-right: 10px;
            width: 40px;
            height: 40px;
            background: url('../image/icon-lighting.svg') no-repeat;
            background-size: contain;
        }
        .info-text{
            h1{
                margin-bottom: 0px;
                font-size: 16px;
                font-weight: 800;
            }
            p{
                margin-top: 8px;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}
.main-notice-matching{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    .main-notice{
        width: 600px;
        height: 220px;
        border-radius: 10px;
        border-left: 2px solid #E5E5E5;
        border-bottom: 3px solid #E5E5E5;
        .noticelist-post{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px 15px;
            font-family: 'Pretendard-Regular', sans-serif;
            font-size: 14px;
            .noticelist-catagory{
                color:#EA4B48;
                font-weight: 800;
            }
            .noticelist-title{
                width: 65%;
                font-weight: 400;
            }
            .noticelist-like{
                display: flex;
                align-items: center;
                font-weight: 400;
            }
        }
    }
    .main-matching{
        margin-left: 20px;
        width: 100%;
        height: 220px;
        border-radius: 10px;
        border-left: 2px solid #E5E5E5;
        border-bottom: 3px solid #E5E5E5;
        .header-title{
            color: #EA4B48;
        }
        .newMatchingList{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 15px;
            .newMatchingList-post{
                display: flex;
                justify-content: space-between;
                .newMatchingList-img{
                    align-items: center;
                    margin-right: 15px;
                    width: 150px;
                    height: 150px;
                    background: #E5E5E5;
                    border-radius: 10px;
                }
                .newMatchingList-contents{
                    width: 300px;
                    font-family: 'Pretendard-Regular', sans-serif;
                    .newMatchingList-catagory-tag,
                    .newMatchingList-location,
                    .newMatchingList-date,
                    .newMatchingList-nickname,
                    .newMatchingList-matching{
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;
                    }
                    .newMatchingList-catagory-tag{
                        color: #fff;
                        font-size: 14px;
                        font-weight: 400;
                        .newMatchingList-regurlary,
                        .newMatchingList-temporary,
                        .newMatchingList-self,
                        .newMatchingList-tag{
                            display: flex;
                            justify-content:center;
                            align-items: center;
                            padding: 0px 10px;
                            height: 30px;
                            border-radius: 5px;
                        }
                        .newMatchingList-regurlary{
                            margin-right: 5px;
                            background: #EA4B48;
                        }
                        .newMatchingList-temporary{
                            margin-right: 5px;
                            background: #FDCA00;
                        }
                        .newMatchingList-self{
                            margin-right: 5px;
                            background: #2388FF;
                        }
                        .newMatchingList-tag{
                            background: #00B207;
                        }
                    }
                    .newMatchingList-title{
                        margin-bottom: 5px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .newMatchingList-location-icon,
                    .newMatchingList-date-icon,
                    .newMatchingList-nickname-icon,
                    .newMatchingList-matching-icon{
                        margin-right: 5px;
                        width: 20px;
                        height: 20px;
                    }
                    .newMatchingList-location-icon{
                        background: url('../image/icon-location.svg') no-repeat;
                        background-size: contain;
                    }
                    .newMatchingList-date-icon{
                        background: url('../image/icon-calendar.svg') no-repeat;
                        background-size: contain;
                    }
                    .newMatchingList-nickname-icon{
                        background: url('../image/icon-person.svg') no-repeat;
                        background-size: contain;
                    }
                    .newMatchingList-matching-icon{
                        background: url('../image/icon-matching.svg') no-repeat;
                        background-size: contain;
                    }
                    .newMatchingList-location-text,
                    .newMatchingList-date-text,
                    .newMatchingList-nickname-text,
                    .newMatchingList-matching-text{
                        font-size: 14px;
                        font-weight: 400;
                    }
                    .newMatchingList-nickname-matching{
                        display: flex;
                        justify-content:space-between;
                        align-items: center;
                    }
                    .newMatchingList-matching-text{
                        display: flex;
                        justify-content:center;
                        align-items: center;
                    }
                }
            }
        }
    }
}
.popular-post-header,
.main-notice-header,
.main-matching-header{
    display: flex;
    padding: 17.5px 15px;
    justify-content: space-between;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 20px;
    font-weight: 600;
    a{
        color: #00B207;
    }
}
// Link 밑줄 제거, hover
a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
}
