$font-family: "Pretendard-Regular", sans-serif;

.update-password,
.update-info {
    margin-top: 10px;
    padding: 20px;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    font-family: $font-family;

    // 공통
    h2 {
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 16px;
        font-family: $font-family;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            font-family: $font-family;
        }

        input,
        select {
            width: 100%;
            height: 35px;
            padding: 6px;
            font-size: 14px;
            border: 2px solid #e5e5e5;
            border-radius: 4px;
            font-family: $font-family;
            box-sizing: border-box;
        }
    }
    
    .update-button {
        width: 115px;
        padding: 10px;
        color: white;
        border: none;
        background: #9BCC66;
        border-radius: 43px;
        font-family: $font-family;
        cursor: pointer;
    }

    // UpdatePassword
    .password-fields {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .form-group {
            flex: 1;
        }
    }

    // UpdateInfo
    .update-user-info-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .update-user-info {
            width: 60%;

            .location-gender {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .form-group {
                    flex: 1;
                }
            }

            .point-level {
                margin-bottom: 15px;

                .level-point {
                    width: 100%;
                    padding: 6px;
                    font-size: 14px;
                    border: 2px solid #e5e5e5;
                    border-radius: 4px;
                    font-family: $font-family;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                }

                span {
                    margin-right: 10px;
                }

                .progress-bar {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 100%;
                    height: 10px;
                    background-color: #f0f0f0;
                    border-radius: 5px;
                    overflow: hidden;
                    display: flex;
                }

                .progress {
                    height: 100%;
                    background-color: #9bcc66;
                    width: 80%; /* 변경 가능 */
                }

                span:last-child {
                    margin-left: auto;
                }
            }

            .age-height {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .form-group {
                    flex: 1;
                }
            }
        }

        .update-profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;

            .user-profile {
                width: 200px;
                height: 200px;
                background: #e5e5e5;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .update-profile-button {
                text-align: center;
                margin-top: 15px;
                width: 115px;
                padding: 10px;
                background: none;
                border: 2px solid #9BCC66;
                border-radius: 43px;
                color: #9BCC66;
                font-family: $font-family;
                cursor: pointer;
            }
        }
    }
}
